<div x-data="{ opened: 1 }" class="flex flex-col p-4">
  <div @click="opened == 1 ? opened = -1 : opened = 1" class="flex items-center justify-between bg-gray-200 border p-4">
    <p> {{firstTitle}} </p>
    <span :class="opened == 1 ? 'las la-arrow-down' : 'las la-arrow-up'" class="las"></span>
  </div>
  <div x-show.transition.in.duration.800ms="opened == 1" class="border p-4">
    {{firstBar}}
  </div>
  <div @click="opened == 2 ? opened = -1 : opened = 2" class="flex items-center justify-between bg-gray-200 border p-4">
    <p>{{secondTitle}}</p>
    <span :class="opened == 2 ? 'las la-arrow-down' : 'las la-arrow-up'" class="las"></span>
  </div>
    <div x-show.transition.in.duration.800ms="opened == 2" class="border p-4">
    {{secondBar}}
  </div>
  <div @click="opened == 3 ? opened = -1 : opened = 3" class="flex items-center justify-between bg-gray-200 border p-4">
    <p>{{thirdTitle}}</p>
    <span :class="opened == 3 ? 'las la-arrow-up' : 'las la-arrow-up'" class="las"></span>
  </div>
    <div x-show.transition.in.duration.800ms="opened == 3" class="border p-4">
    {{thirdBar}}
  </div>
</div>