{% extends "_layouts/layout.twig" %}

{% set light = entry.light %}
{% set moisture = entry.moisture %}
{% set chemistry = entry.soilChemistry %}
{% set soilType = entry.soilType %}

{% block content %}
  <div class="bg-green-200">
    <div class=" container mx-auto" >
      {% embed "_includes/content-layout.twig" with { 'contentTitle' : entry.title } %}
        {% block contentPost %}
          <img src="{{ entry.image.one().url }}" alt="">

          <div class="flex flex-col" >

            {% embed "_includes/card-content.twig" with { 'group' : 'Description' } %}
              {% block card %}
                {{ entry.description }}    
              {% endblock %}
            {% endembed  %}

            {% embed "_includes/card-content.twig" with {'group' : "Common Name"} %}
              {% block card %}
                <p class="">Name:{{ entry.commonName }}</p>
                <p class="">Family:{{ entry.family }}</p>
                <p class="">Genus:{{ entry.genus }}</p>
                {% if entry.variety|length %}
                  <p class="">Variety:{{entry.variety}}</p>
                {% endif %}
                <p class="">Species:{{entry.species}}</p>
              {% endblock  %}
            {% endembed  %}

            {% embed "_includes/card-content.twig" with { 'group' : "Cultivation" } %}
              {% block card %}
                <p>Germanation:{{ entry.germanation }} weeks </p>
                <p>Bloom/harvest:{{ entry.harvest }} months </p>    
                <p>Sowing Depth:{{ entry.sowingDepth }} inch </p>    
              {% endblock  %}
            {% endembed  %}

            {% embed "_includes/card-content.twig" with { 'group' : "Temperature " } %}
              {% block card %}
                <p> Temperature Low: {{ entry.temperatureLow }}&#8451;  </p>
                <p> temperature High: {{ entry.temperatureHigh }}&#8451; </p>
              {% endblock %}
            {% endembed %}
            
            {% embed "_includes/card-content.twig" with { 'group' : 'Light' } %}
              {% block card %}
                <ul>
                  {% for item in light %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>
              {% endblock %}
            {% endembed  %}

            {% embed "_includes/card-content.twig" with {'group' : 'Moisture' } %}
              {% block card %}
                <ul>
                  {% for item in moisture %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>    
              {% endblock %}
            {% endembed  %}
            
            {% embed "_includes/card-content.twig" with { 'group' : 'Soil Chemistry pH ' } %}
              {% block card %}
                <ul>
                  {% for item in chemistry %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>    
              {% endblock  %}
            {% endembed  %}
            
            {% embed "_includes/card-content.twig" with { 'group' : 'Soil Type ' } %}
              {% block card %}
                <ul>
                  {% for item in soilType %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>    
              {% endblock %}
            {% endembed  %}

          </div>
        {% endblock %}
      {% endembed  %}
    </div>
  </div>
{% endblock %}