{% extends "_layouts/layout.twig" %}

{% set light = entry.light %}
{% set moisture = entry.moisture %}
{% set chemistry = entry.soilChemistry %}
{% set soilType = entry.soilType %}
{% set moistureCategory = entry.moistureCategory %}
{% set soilCategory = entry.soilCategory %}

{% block content %}
  <div class="bg-gray-100">
    <div class=" container mx-auto" >
      {% embed "_includes/content-layout.twig" with { 'contentTitle' : entry.title } %}

        {% block contentPost %}

        <div class="flex flex-col md:flex-row">
          <img class=" flex-none" src="{{ entry.image.one().url }}" alt="">
          <div class="flex-auto m-3">
            {% embed "_includes/card-content.twig" with {'group' : 'Category'} %}

              {% block card %}

                {% for item in moistureCategory.all() %}
                  <a class="transition duration-300 ease-linear px-2 rounded hover:bg-green-500 hover:text-white" href="{{item.url}}">{{item}}</a>
                {% endfor %}
                {% for item in soilCategory.all() %}
                  <a class="transition duration-300 ease-linear px-2 rounded hover:bg-green-500 hover:text-white" href="{{item.url}}">{{item}}</a>
                {% endfor %}

              {% endblock %}

            {% endembed  %}
          </div>
        </div>
        <div x-data="{tab: 'overview' }">

          <div class="flex space-x-2">
            <button :class="{ 'active' : tab == 'overview' ,'border-b-2 border-blue-500':tab == 'overview' }" @click="tab = 'overview' " class="focus:outline-none text-xl">Overview</button>
            <button :class="{ 'active' : tab == 'conditons' ,'border-b-2 border-blue-500':tab == 'conditions' }" @click="tab = 'conditions' "class="focus:outline-none text-xl">Conditions</button>
          </div>

          <div class="" >
            <div x-show.opacity.transition.in.duration.400ms.out.duration.150ms.opacity 	="tab === 'overview' " class="grid md:grid-cols-2 gap-5">
              <div class="md:col-span-2">
                {% set description = entry.description %}
                {% include "_includes/card-content.twig" with {
                  group:"Description",
                  desc: description
                  } %}
              </div>
                
              <div class="">
                {% include "_includes/card-content.twig" with {
                  group : "Common Name",
                  items:[
                    {label: "Name: #{ entry.commonName }"},
                    {label: "Family:#{ entry.family }"},
                    {label: "Genus:#{ entry.genus }"},
                    { label: entry.variety is empty ? null : "Variety : #{entry.variety}" }
                  ]
                } %}
              </div>

              {% include "_includes/card-content.twig" with { 
                group : "Cultivation",
                items: [
                  { label: "Germanation: "~entry.germanation~" weeks" },
                  { label: "Bloom/harvest: #{entry.harvest} months" },
                  { label: entry.variety is empty ? null : "Variety : #{entry.variety}" }
                  ]
              } %}
            </div>

            <div x-show.transition.in.duration.300ms.out.duration.150ms ="tab === 'conditions' " class="grid md:grid-cols-2 gap-5">
              {% include "_includes/card-content.twig" with {
                group : "Temperature",
                items:[
                  { label : "Temperature Low: #{entry.temperatureLow}&#8451;" },
                  { label: "Temperature High: #{entry.temperatureHigh}&#8451;" }
                  ]
              } %}
                
              {% include "_includes/card-content.twig" with {
                group : "Light",
                items: light
                } %}
                
              {% include "_includes/card-content.twig" with {
                group: 'Moisture',
                items: moisture 
              } %}
                
                
              {% include "_includes/card-content.twig" with { 
                group : 'Soil Type ',
                items: soilType,
              } %}

              <div class="md:col-span-2">
                {% include "_includes/card-content.twig" with {
                  group: "Soil Chemistry (pH)",
                  items: chemistry
                } %}
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
      {% endembed  %}
    </div>
  </div>
  {# {% include "_includes/disqus.twig" %} #}
  <div class=" m-auto md:m-6">
    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
  </div>
{% endblock %}