{% extends "_layouts/layout.twig" %}

{% set light = entry.light %}
{% set moisture = entry.moisture %}
{% set chemistry = entry.soilChemistry %}
{% set soilType = entry.soilType %}
{% set moistureCategory = entry.moistureCategory %}
{% set soilCategory = entry.soilCategory %}

{% block content %}
  <div class="bg-green-200">
    <div class=" container mx-auto" >
      {% embed "_includes/content-layout.twig" with { 'contentTitle' : entry.title } %}

        {% block contentPost %}

        <div class="flex flex-row">
          <img class=" flex-none" src="{{ entry.image.one().url }}" alt="">
          <div class="flex-auto m-3">
            {% embed "_includes/card-content.twig" with {'group' : 'Category'} %}

              {% block card %}

                {% for item in moistureCategory.all() %}
                  <a class="transition duration-300 ease-linear px-2 rounded hover:bg-green-500 hover:text-white" href="{{item.url}}">{{item}}</a>
                {% endfor %}
                {% for item in soilCategory.all() %}
                  <a class="transition duration-300 ease-linear px-2 rounded hover:bg-green-500 hover:text-white" href="{{item.url}}">{{item}}</a>
                {% endfor %}

              {% endblock %}

            {% endembed  %}
          </div>
        </div>
          <div class="grid gap-5 mb-5" >

            <div class="col-span-2">
              {% embed "_includes/card-content.twig" with { 'group' : 'Description' } %}
                {% block card %}
                 <span class="mx-2"></span> {{ entry.description }}    
                {% endblock %}
              {% endembed  %}
            </div>
            
            <div class="col-span-2">
              {% embed "_includes/card-content.twig" with {'group' : "Common Name"} %}
                {% block card %}
                  <p class="">Name:{{ entry.commonName }}</p>
                  <p class="">Family:{{ entry.family }}</p>
                  <p class="">Genus:{{ entry.genus }}</p>
                  {% if entry.variety|length %}
                    <p class="">Variety:{{entry.variety}}</p>
                  {% endif %}
                  <p class="">Species:{{entry.species}}</p>
                {% endblock  %}
              {% endembed  %}
            </div>

            {% embed "_includes/card-content.twig" with { 'group' : "Cultivation" } %}
              {% block card %}
                <p>Germanation:{{ entry.germanation }} weeks </p>
                <p>Bloom/harvest:{{ entry.harvest }} months </p>    
                <p>Sowing Depth:{{ entry.sowingDepth }} inch </p>    
              {% endblock  %}
            {% endembed  %}

            {% embed "_includes/card-content.twig" with { 'group' : "Temperature " } %}
              {% block card %}
                <p> Temperature Low: {{ entry.temperatureLow }}&#8451;  </p>
                <p> temperature High: {{ entry.temperatureHigh }}&#8451; </p>
              {% endblock %}
            {% endembed %}
            
            {% embed "_includes/card-content.twig" with { 'group' : 'Light' } %}
              {% block card %}
                <ul>
                  {% for item in light %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>
              {% endblock %}
            {% endembed  %}

            {% embed "_includes/card-content.twig" with {'group' : 'Moisture' } %}
              {% block card %}
                <ul>
                  {% for item in moisture %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>    
              {% endblock %}
            {% endembed  %}
            
            
            {% embed "_includes/card-content.twig" with { 'group' : 'Soil Type ' } %}
            {% block card %}
            <ul>
              {% for item in soilType %}
              <li> {{ item.label }} </li>
              {% endfor %}
            </ul>    
            {% endblock %}
            {% endembed  %}
            
            {% embed "_includes/card-content.twig" with { 'group' : 'Soil Chemistry pH ' } %}
              {% block card %}
                <ul>
                  {% for item in chemistry %}
                    <li> {{ item.label }} </li>
                  {% endfor %}
                </ul>    
              {% endblock  %}
            {% endembed  %}
          </div>
        {% endblock %}
      {% endembed  %}
    </div>
  </div>
  {% include "_includes/disqus.twig" %}
{% endblock %}