{% extends "_layouts/layout.twig" %}

{% set light = entry.light %}
{% set moisture = entry.moisture %}
{% set chemistry = entry.soilChemistry %}
{% set soilType = entry.soilType %}
{% set moistureCategory = entry.moistureCategory %}
{% set soilCategory = entry.soilCategory %}

{% block content %}
  <div class="bg-green-200">
    <div class=" container mx-auto" >
      {% embed "_includes/content-layout.twig" with { 'contentTitle' : entry.title } %}

        {% block contentPost %}

        <div class="flex flex-row">
          <img class=" flex-none" src="{{ entry.image.one().url }}" alt="">
          <div class="flex-auto m-3">
            {% embed "_includes/card-content.twig" with {'group' : 'Category'} %}

              {% block card %}

                {% for item in moistureCategory.all() %}
                  <a class="transition duration-300 ease-linear px-2 rounded hover:bg-green-500 hover:text-white" href="{{item.url}}">{{item}}</a>
                {% endfor %}
                {% for item in soilCategory.all() %}
                  <a class="transition duration-300 ease-linear px-2 rounded hover:bg-green-500 hover:text-white" href="{{item.url}}">{{item}}</a>
                {% endfor %}

              {% endblock %}

            {% endembed  %}
          </div>
        </div>
          <div class="grid gap-5 mb-5" >

            <div class="col-span-2">
              {% set description = entry.description %}
              {% include "_includes/card-content.twig" with {
                group:"Description",
                others: description
              } %}
              {# {% embed "_includes/card-content.twig" with { 'group' : 'Description' } %}
                {% block card %}
                 <span class="mx-2"></span> {{ entry.description }}    
                {% endblock %}
              {% endembed  %} #}
            </div>
            
            <div class="col-span-2">
              {% embed "_includes/card-content.twig" with {'group' : "Common Name"} %}
                {% block card %}
                  <p class="">Name:{{ entry.commonName }}</p>
                  <p class="">Family:{{ entry.family }}</p>
                  <p class="">Genus:{{ entry.genus }}</p>
                  {% if entry.variety is not empty %}
                    <p class="">Variety:{{entry.variety}}</p>
                  {% endif %}
                  <p class="">Species:{{entry.species}}</p>
                {% endblock  %}
              {% endembed  %}
            </div>

            {% include "_includes/card-content.twig" with { 
              group : "Cultivation",
              items: [
                { label: "Germanation: "~entry.germanation~" weeks" },
                { label: "Bloom/harvest: #{entry.harvest} months" },
                { label: entry.variety is empty ? null : "Variety : #{entry.variety}" }
              ]
            } %}

            {% include "_includes/card-content.twig" with {
              group : "Temperature",
              items:[
                { label : "Temperature Low: #{entry.temperatureLow}&#8451;" },
                { label: "Temperature High: #{entry.temperatureHigh}&#8451;" }
              ]
            } %}
            
            {% include "_includes/card-content.twig" with {
              group : "Ligth",
              items: light
              } %}

            {% include "_includes/card-content.twig" with {
              group: 'Moisture',
              items: moisture 
            } %}
            
            
            {% include "_includes/card-content.twig" with { 
              group : 'Soil Type ',
              items: soilType,
            } %}
            
            {% include "_includes/card-content.twig" with {
              group: "Soil Chemistry (pH)",
              items: chemistry
            } %}
          </div>
        {% endblock %}
      {% endembed  %}
    </div>
  </div>
  {# {% include "_includes/disqus.twig" %} #}
  <div class=" m-auto md:m-6">
    {{ disqusEmbed(entry.slug, entry.title, entry.url) }}
  </div>
{% endblock %}