{% extends "_layouts/layout.twig" %}

{% block content %}
{% set searchQuery = craft.app.request.getQueryParam('search') %}

{% set rawCategory =[ 
  craft.app.request.queryParam('moisture') ?? '',
  craft.app.request.queryParam('soil-type') ?? '',
]
%}

{% set categories = null %}

{% if rawCategory is not empty %}
  {% set categories = craft.categories
    .slug(rawCategory)
    .one()
  %}
{% endif %}

{% set query = craft.entries()
  .section('plants')
  .with(['image'])
  .relatedTo(categories)
  .search(searchQuery)
  .limit(3) 
%}

<div class="bg-gray-200">
  <div class="container mx-auto">
      {% paginate query as pageInfo, pageEntries %}
      <div class=" bg-blue-200 rounded py-28">
        <div class="md:flex md:space-x-12 md:space-y-0 space-y-5 place-content-center">
          {% if query|length %}
            {% for entry in pageEntries %}
              {% set image = entry.image[0] ?? null %}
              {% if image %}
                {% embed "_includes/card-list.twig" %}
                  {% block list %}
                    <a href="{{entry.url}}">
                      <div class="">
                        <div class="text-center md:text-left bg-blue-500 rounded-sm text-2xl px-2" > {{entry.title}} </div>
                        <img src="{{image.url}}" alt="" style="height: 150px; width: 300px;" class="m-auto">
                      </div>
                    </a>
                  {% endblock %}
                {% endembed  %}
              {% endif %}
            {% endfor %}              
        </div>
      </div>
        
        {% if categories|length %}
        <p class="">data found for Category "{{categories}}" : {{query|length}} </p> 
        {% endif %}

        {% if searchQuery|length %}
          <p class="">data found with keyowrd "{{searchQuery}}" : {{query|length}} </p> 
        {% endif %}

        {% else %}
          <div>
            <p class="">sorry,couldn't find "{{searchQuery}}" :(</p>
            <div class="transition duration-200 ease-linear bg-red-500 text-white hover:text-red-500 hover:bg-white cursor-pointer m-auto  border-red-500 border-2 px-16 py-11 rounded-md" onclick="kembali()"> <p class="text-center">Go Back</p> </div>
          </div>
      {% endif %}

    <div class="flex space-y-2 md:space-y-0 text-center md:space-x-6 py-10 place-content-center">
      {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="transition duration-200 outline-none text-gray-100 ease-linear bg-blue-500 rounded hover:bg-gray-200 hover:text-blue-500 border-2 border-blue-500 p-2"><div>Previous Page</div></a> {% endif %}
      {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="transition duration-200 outline-none text-gray-100 ease-linear bg-blue-500 rounded hover:bg-gray-200 hover:text-blue-500 border-2 border-blue-500 p-2"><div>Next Page</div></a>{% endif %} 
    </div>
  </div>
</div>

{% endblock  %}